{% extends "base.html" %}
{% load url from future %}

{% block content %}

    <h2>Comments</h2>


    {% if comments %}
        <ul>
        {% for comment in comments %}
            <li>
                <p>
                    <strong>{{comment.user}} says:</strong>
                    <br />
                    {{comment.comment}}
                    <br />
                    {{comment.created_datetime|timesince}} ago
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}