<div>
	<div data-component="navigationPage" data-id="navigationPage" class="nav">
	</div>
	
	<div id="statusPage" data-component="statusPage" data-id="statusPage" class="page">
	</div>
	
	<div id="stickyBoard" data-component="stickyBoard" data-id="stickyBoard" class="page">
    </div>
    
    <div id="jiraStoryCreate" data-component="jiraStoryCreate" data-id="jiraStoryCreate" class="page">
    </div>
    
    <div id="allOpenIssues" data-component="allOpenIssues" data-id="allOpenIssues" class="page">
    </div>
    
    <div id="visitExistingIssue" data-component="visitExistingIssue" data-id="visitExistingIssue" class="page">
    </div>
</div>