<form id="jiraCreate">
<input placeholder="Title" type="text"  class="title"></input>
<input placeholder="Description" type="text" class="description"></input>
<input type="submit" class="submit" value="Create"></input>
</form>