<div class="nav-wrap">
    <ul class="group" id="app_nav">
        <li class="current_page_item" id="status_nav"><a data-href="status">Status</a></li>
        <li id="jira_nav"><a data-href="createJiraIssue" >Create Jira Issue</a></li>
        <li id="retrospective_nav"><a data-href="retrospectiveBoard" >Retrospective</a></li>
        <li id="allopen_nav"><a data-href="allOpenIssues">All open issues</a></li>
    </ul>
    <a href="https://plus.google.com/hangouts/_/c89a533b136e37704692d2b87efcb205d34d3a1f" style="text-decoration:none;" id="hangoutButton">
        <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-20x86-normal.png"
        alt="Start a Hangout"
        style="border:0;width:86px;height:20px;"/>
    </a>
</div>

