<div class="stickyBoard page_content">
    <div class="gridster_controls">
      <button class="btn controls" id="add_sticky">
        Add a sticky
      </button>
      <button class="btn controls" id="edit_sticky" disabled>
        Edit sticky
      </button>
      <button class="btn controls" id="delete_sticky" data-alert="true" disabled>
        Delete sticky
      </button>
      <button class="btn controls" id="replay_stickies" data-special="true">
        Replay stickies
      </button>
    </div>
    <hr />
    <div class="titles">
        <ul>
            <li class="first"><h2>Type 1</h2></li>
            <li><h2>Type 2</h2></li>
            <li><h2>Type 3</h2></li>
        </ul>
    </div>
    <hr />
    <div class="gridster">
        <ul>
        </ul>
    </div>
</div>
